*{
  padding: 0;
  margin: 0;
  direction: rtl;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/vazir-font/29.0.2/font-face.min.css');

body{
  background-color: #17132e;
  color: #fafafa;
  font-family: "Vazir";
  font-size: 1rem;
}

td, th{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
}

table  tr:nth-child(odd) {
  background-color: #4d1e2c;
}
table  tr:nth-child(even) {
  background-color: #662739;
}

table tr:first-child  {
  background-color: #9B3440;
}


table tr blockquote  {
  background-color: transparent;
  margin: 0;
}

th{
  font-weight: bold;
}

a, a:active{
  color: #ff5b5b;
  text-decoration: none;
}

a:hover{
  color: #ff5b5b;
  text-decoration: underline;
}

article{
  margin: auto;
  max-width: 800px;
  padding: 30px;
}

@media (max-width:340px) {
  article{
    padding: 10px;
  }
}

.quote::before, .quote::after{
  content: '"';
}

.quote{

}

code, blockquote{
  font-family: monospace;
  font-size: 1.02rem;
  direction: ltr;
}

code *, blockquote *{
  direction: ltr;
}

p {
  margin: 10px 0;
}

.alert{
  background-color: #4e4721;
  margin: 4px 0;
}

.info{
  background-color: #21414e;
  margin: 4px 0;
}

.alert, .info, blockquote{
  display: block;
  padding: 8px 16px;
  border-radius: 6px;
}


h2::before{
  content: "# ";
}

h2{
  margin-top: 40px;
  color: #ff5b5b;
  font-size: 2.2rem;
  text-shadow: 0px 0 10px #ff5b5b90;
}

blockquote{
  text-align: left;
  background-color: #4e2136;
  margin: 6px 0;
}

code{
  background-color: #4e2136;
  padding: 4px;
  border-radius: 8px;
}

td code{
  background-color: transparent;
}

.header{
  margin-top: 8px;
}

img{
  display: block;
  margin: auto;
  text-align: center;
  max-width: 90%;
  border-radius: 6px;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 16px;
  border-collapse: collapse;
}
td p, th p{
  margin: 0;
}

table { border-collapse: collapse; }
tr { border: none; }
td, th {
  border-right: solid 3px #17132e; 
  border-left: solid  3px #17132e;
}